body {
  font-size: 20px;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.number {
  font-size: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.payday {
  font-size: 2rem;
}
